@page "/post/{postId:int}"
@using HTTPServices.IServices
@inject IPostService postService

@if (post == null)
{
}
else
{
    <div>
        <div class="card">
            <h3>@post.title</h3>
            <div>@post.body</div>
            <div class="author_caption">Posted by @post.authorUsername</div>
        </div>
    </div>
}

@code {
    [Parameter] public int postId { get; init; }
    private global::Shared.Models.Post post;
    
    protected override async Task OnInitializedAsync()
    {
        post = await postService.GetByIdAsync(postId);
    }
}